<div class="container text-center" >
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
       
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
  
            <!-- Email input -->
            <div class="form-outline mb-4 pt-4">
              <input required [(ngModel)]="passwords.newPassword" name="newpassword"  type="password" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter New Password" />
              
            </div>
            <div class="form-outline mb-4">
                <input required  [(ngModel)]="passwords.confirmPassword"  name="confirmpassword"  type="password" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter Confirm Password" />
                
              </div>
            <button type="submit" class="btn btn-primary btn-lg"
                >Reset Password</button>
        
        </form>
</div>
