<h1>Add Books</h1>

<form class="exampl-form" [formGroup]="addbookform" (ngSubmit)=" addtobase()" ngNativeValidate >
    <div>
        <p>book name</p>
    <mat-form-field class="f1">
        <mat-label>book name</mat-label>
        <input type="text" matInput formControlName="bookName"
               placeholder="enter the bookName">
               <mat-error *ngIf="addbookform.get('bookName')?.hasError('required')">
                    book name is mandatory           
                 </mat-error>
    </mat-form-field>   
</div>
<div>
    <p>book quantity</p>
<mat-form-field class="f1">
    <mat-label>quantity</mat-label>
    <input type="number" matInput formControlName="quantity"
           placeholder="enter the quantity">

           <mat-error *ngIf="addbookform.get('quantity')?.hasError('min')">
            enter greater than 0
        </mat-error>

        <mat-error *ngIf="addbookform.get('quantity')?.hasError('required')">
            quantity is mandatory           
         </mat-error>
        
</mat-form-field>
</div>

<div formGroupName="category">
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          category data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>category</mat-label>
        <input matInput type="text" formControlName="categoryName" placeholder="enter the categoryname">
        <mat-error *ngIf="addbookform.get('categoryName')?.hasError('required')">
            Category  is required          
         </mat-error>
      </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>
</div>

<div>
<button color="primary" type="button" (click)="addauthors()">Add authors</button>
</div>

<div formArrayName="authors">

<div *ngFor="let author of  authorsArray.controls; let i=index">
<div [formGroupName]="i">

    <mat-form-field class="example-full-width">
        <mat-label>authorname</mat-label>
        <input type="text" matInput formControlName="authorName"
               placeholder="enter the authorname">

               <mat-error *ngIf="addbookform.get('authorName')?.hasError('required')">
                author name  is required          
             </mat-error>   

            </mat-form-field>
            
          <button type="button" (click)="removeperson(i)">Remove author</button>
</div>
</div>
</div>

<div>
<button   color ="primary">addbook</button>
</div>

<div>
    <button  type="button" (click)="reset()" color ="primary">reset</button>
    </div>
    </form>

<p>{{this.addbookform.value|json}}</p>
