<div style="display: inline; width: 100%; padding:4px; margin-bottom: 2px;">
    <h1 style="float: left;justify-content: center;text-align: center; padding: 4px;">Search Books</h1>
    <div class="search-bar">
        <input class="search-textfield" type="search" placeholder="Title or Category or Author Name" aria-label="Search"
            [(ngModel)]="accordingto">
        <button class="search-btn" (click)="getdetails()"><i class="fa fa-search"></i></button>
    </div>
</div>


<div *ngIf="(bookdetails$ | async)?.length==0">No records were found.</div>

<div *ngIf="(bookdetails$ | async)?.length!=0">

<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Book Title</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Authors</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of bookdetails$ | async;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{book. book_title}}</td>
            <td>{{book.category}}</td>
            <td>{{book.quantity}}</td>
            <td>{{book.authors}}</td>
            <td><button (click)="lendbook(book.book_id)" >Lend</button></td>
        </tr>
    </tbody>
</table>
======= -->
    <table class="datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Title</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Authors</th>
                <th scope="col">Rating</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let book of bookdetails$ | async;let i = index">
                <td>{{i + 1}}</td>
                <td [routerLink]="['/book-details', book.book_id]">{{book.book_title}}</td>
                <td [routerLink]="['/book-details', book.book_id]">{{book.category}}</td>
                <td [routerLink]="['/book-details', book.book_id]">{{book.quantity}}</td>
                <td [routerLink]="['/book-details', book.book_id]">{{book.authors}}</td>
                <td>
                    <span *ngFor="let item of [].constructor(demo_book.review)" class="fa fa-star checked"></span>
                    <span *ngFor="let item of [].constructor(5-demo_book.review)" class="fa fa-star"></span>
                </td>
                <td>
                    <button class="btn btn-light btn-sm" (click)="lendbook(book.book_id)">Lend</button>
                </td>
        </tbody>
    </table>
