<div >
    <h1>Book Requests</h1>
    <table class="datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Title</th>
                <th scope="col">Author Name</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <!-- *ngFor="let item of [].constructor(3);let i = index" -->
            <tr>
                <td>101</td>
                <td>Demo</td>
                <td>Demo</td>
                <td>
                    <button class="btn btn-outline-success btn-sm">Accept</button>&nbsp;
                    <button class="btn btn-outline-danger btn-sm">Reject</button>
                </td>
            </tr>
            <tr>
                <td>102</td>
                <td>Demo</td>
                <td>Demo</td>
                <td>
                    <button class="btn btn-outline-success btn-sm">Accept</button>&nbsp;
                    <button class="btn btn-outline-danger btn-sm">Reject</button>
                </td>
            </tr>
            <tr>
                <td>103</td>
                <td>Demo</td>
                <td>Demo</td>
                <td>
                    <button class="btn btn-outline-success btn-sm">Accept</button>&nbsp;
                    <button class="btn btn-outline-danger btn-sm">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>