<app-header [heading]="'Requested Books'"></app-header>
<div class="text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Author Name</th>
          <th scope="col">Book Name</th>
          <th scope="col">Status</th>
          <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let requestbook of bookrequests;let i = index">
          <tr *ngIf="check(requestbook.isActive)">            
            <th scope="row">{{i + 1}}</th>
            <td>{{requestbook.authorName}}</td>
            <td>{{requestbook.bookName}}</td>
            <td>{{requestbook.isActive}}</td>
            <td>
                <button class="btn btn-outline-success btn-sm" (click)="acceptRequest(requestbook.requestId,3)">Accept</button>&nbsp;
                <button class="btn btn-outline-danger btn-sm" (click)="rejectRequest(requestbook.requestId,0)">Reject</button>
                <button class="btn btn-outline-danger btn-sm" (click)="pendinpurchase(requestbook.requestId,2)">Pending Purchase</button>
            </td>
          </tr>
    </ng-container>
        </tbody>
    </table>
  </div>
<app-footer-component></app-footer-component>